$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: #3a6186;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

#sign-up {
  display: none;
  margin-top: 20%;
}

#sign-in {
  display: none;
  margin-top: 20%;
}

#sign-out {
  display: none;
}

#change-password {
  display: none;
}

#blog-form {
  display: none;
}

#signout {
  display: none;
}

#change {
  display: none;
}

#createblog {
  display: none;
}

#getBlogsButton {
  display: none;
}

#clearBlogsButton {
display: none;
}

<<<<<<< HEAD
// #searchbar {
// margin-top: 500px;
// }

#message {
margin-top: 200px;
=======
#searchbar {
  padding-top: 20%;
}

#message {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
>>>>>>> styling
}
